<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}demo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>

    <body>
    <div class="container">
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Главная</a>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span class="navbar-brand">Вы авторизованы как  {{ app.user.username }}</span>
                    <a class="navbar-brand" href="{{ path('fos_user_security_logout') }}">Выход</a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('fos_user_security_login') }}">Вход</a>
                    <a class="navbar-brand" href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                {% endif %}
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block javascripts %}{% endblock %}

    </body>
</html>